{% extends "layout.html" %}
{% block content %}
<div class="column col-8 col-xs-12">
 <div id="map"></div>
 <div>
 	<blockquote>
	This map demos the combine search and geolocation api of leaflet JS. It geolocates you upon acceptance of the prompt.
	Its intended to be simple while giving you a search base on 
	open geocoders.
</blockquote>
 </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/Control.Geocoder.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
