{% extends "layout.html" %}
{% block content %}
<div class="column col-12 col-xs-12">
	<form action="/w3w" method='POST'>
	<div class="input-group input-inline">
      <input class="form-input input-sm" type="text" placeholder="search" name="q"/>
      <button class="btn btn-primary btn-sm input-group-btn">Search</button>
    </div>
	</form>
</div>

<div class="column col-8 col-xs-12">
	
	<div id="map"><!-- map content --></div>
	 <div>
 	<blockquote>
 	I accept only <em>Lat/lng</em> values. Anything else, I will spit error at you. Ask what I do? <br>
 	I just accept lat/lng values, convert and geocode them into what3words. Eg. 6.7873, 1.6957.
 	Ready to check the code and contribute? check the 
 	<a href="https://github.com/saviour123/geo-w3w-devcongress" target="_blank" class="btn btn-primary input-group-btn">repo.</a>
</blockquote>
 </div>
</div>

{% endblock %}

{% block js %}
<script>

var map = L.map('map').setView([{{ lat | default('7.005') }}, {{ lng | default('-1.110')}}], 5);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


L.marker([{{ lat }}, {{ lng }}]).addTo(map)
	.bindPopup("<b>Lat: {{ lat }}, Long: {{ lng }} <br> {{ word }}").openPopup();
var popup = L.popup();

</script>
{% endblock %}
